<div id="sidr">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

<div class="main"> 
    <a id="simple-menu" href="#sidr"><img  src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px" /> </a>
    <div class="container"> 
      <div class="row"> 
  	    <div class="content col-md-6 col-md-offset-6"> 
  		    <h1>Go on Adventures.  Share yours.</h1> 
          <p><a class="btn btn-primary" href="about">Learn more</a></p> 
      </div> 
    </div>       
  </div> 
</div> 
      
<div class="supporting"> 
  <div class="container"> 
    <h2>Relive your trails</h2> 
    <p>Automatically creates a digital journal filled with only your best photos.</p> 
  </div> 
</div> 

<div class="secondary"> 
  <div class="container"> 
  </div> 
</div> 

<div class="discover"> 
  <div class="container"> 
    <h2>Discover Stories</h2> 
    <p><a class="btn btn-primary" href="about">Learn more</a></p> 
  </div> 
</div> 

<div class="footer"> 
  <div class="container"> 
    <p>A Shutterbugg Project</p> 
  </div> 
</div> 

<script>
  $(document).ready(function() {
  $('#simple-menu').sidr();
});
</script>