// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-main{
      background: url(http://www.grandcanyontrust.org/sites/default/files/Home_LCR_Jack_Dykinga.jpg) no-repeat center center;
  height: 700px;
  color: black;
}